<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <script type="text/javascript" src="{{ "/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/d3.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/hexbin.js" | prepend: site.baseurl }}"></script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
